<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <title>About</title>
</head>
<body>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/templates/contact.html">Contact</a>
  <a href="/templates/about.html">About</a>
</div>
  </head>
  <body>
    <div class="bgimg-1">
      <div class="caption">
        <span class="border">ABOUT MY PROJECT</span>
      </div>
    </div>

    <div
      style="
        color: #777;
        background-color: white;
        text-align: center;
        padding: 50px 80px;
        text-align: justify;
      "
    >
      <h3 style="text-align: center">Twitter Followers</h3>
      <p style="text-align: center; font-weight: bolder; font-size: larger;">
        This is my website that I have created that my <span style="color:midnightblue; font-weight: bolder;">internship</span> has requested
        I build. As per requested, this website retrieves the total Twitter
        followers and following count of specific accounts they want in order to
        keep track of live data more efficiently and quickly.
      </p>
    </div>

    <div class="bgimg-2">
      <div class="caption">
        <span
          class="border"
          style="background-color: transparent; font-size: 25px; color: #f7f7f7"
          >HOW I DID IT</span
        >
      </div>
    </div>

    <div style="position: relative">
      <div
        style="
          color: #ddd;
          background-color: #282e34;
          text-align: center;
          padding: 50px 80px;
          text-align: justify;
        "
      >
        <h2 style="text-align: center">
          Using Python, Flask, REST API, Twitter API, HTML, and CSS. This is how
          my project came to be.
        </h2>
      </div>
    </div>

    <div class="bgimg-3">
      <div class="caption">
        <span
          class="border"
          style="background-color: transparent; font-size: 25px; color: #6e2727"
          >SPECIAL THANKS</span
        >
      </div>
    </div>

    <div style="position: relative">
      <div
        style="
          color: #ddd;
          background-color: #282e34;
          text-align: center;
          padding: 50px 80px;
          text-align: justify;
        "
      >
        <h2> 
          A huge thank you to those at CMRubinWorld for allowing me to be a part of their amazing team as an intern, and for allowing me to build this project and website. 
        </h2>
      </div>
    </div>

    <div class="bgimg-1">
      <div class="caption">
        <span class="border">fin</span>
      </div>
    </div>
  </body>
</html>
